<%- include('header') -%>
<div class="container-fluid bg-dark">
<h1 class="text-center text-light bg-dark">Welcome <%=locals.user%></h1>
<div class="div-center text-center bg-dark">
    <a href="/userLogout"><button class="btn btn-danger mt-5 mb-5">Logout</button></a>
</div>
</div>

<%- include('footer')-%>